body {
  background-image: linear-gradient(to right, #0a0a23, #222831);
    display: flex;
    justify-content: center;
  }

  #text {
    background-color: #0a0a23;
    color: #fff;
    padding: 10px;
  }

  #game {
    font-family: 'Courier New', Courier, monospace;
    max-width: 600px;
    max-height: 500px;
    background-color: #fff;
    color: #fff;
    margin: 30px auto 0px;
    padding: 10px;
    margin-top: 120px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #fff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }

  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #d78201;
  }

  button:hover {
    background-color: black;
    color: white;
  }

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    color: white;
}
a:link {
    color: #fecc4c;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #fecc4c;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
